// Переменные
@import "variables";
// Миксины
@import "mixins";
// Сбрасываем стили
@import "reboot";
// Сгенерированные классы 
@import "classes-generation";

//global
html,
body {
    height: 100%;
}

body {
    @include color(background-color, blackBody);
    font-family: 'Gilroy', sans-serif;
    @include color(color, whiteTextColor);
    font-size: 14px;
    min-width: 300px;
    font-weight: 400;
    width: 100%;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.main {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}

body {
    .overlay-blur {
        opacity: 0;
        visibility: hidden;
        transition: opacity .3s linear, visibility .3s step-end, background-color .3s linear;
        background-color: rgba(#152647,.5);
        backdrop-filter: blur(5px);
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        display: block;
    }

    &.popup__show .overlay-blur {
        opacity: 1;
        visibility: visible;
        transition-timing-function: ease-in-out, step-start;
        z-index: 100;
    }

    // ScreenLock
    &.lock__screen {
        overflow: hidden;
        touch-action: none;
    }

    &.show__navbar {
        .overlay-blur {
            z-index: 97;
            opacity: 1;
            visibility: visible;
            transition-timing-function: ease-in-out, step-start;
        }

        .mobile-menu {
            transform: translateX(-100%);

            @include media('max', 'lg') {
                transform: translateX(-100%);
            }
        }
    }
}

.mobile-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 100vw;
    overflow-y: auto;
    width: 100%;
    @include color(background-color, blackBody);
    transition: transform .5s ease,width .5s ease;
    z-index: 99;
    overflow: hidden;
    display: flex;
    margin: 0;
    flex-direction: column;

    &__wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        transition: transform 0.9s ease-in-out;
        padding: rem(60px) rem(30px);
        
    }

    &__link {
        position: relative;

        &::before {
            position: absolute;
            content: '';
            display: block;
            height: 2px;
            width: 0;
            @include color(background-color, pink);
            left: 50%;
            top: 25px;
            transform: translate(-50%,0) translateZ(0);
            transition: width .25s cubic-bezier(.27,.62,.43,1.01);
        }

        &:hover {
            @include color(color, pink);
            cursor: pointer;
        }

        &:hover::before {
            width: 100%;
        }
    }

    &__items {
        display: flex;
        flex-direction: column;
        gap: rem(30px);
    }

    &__item {
        font-size: rem(17px);
        line-height: 20px;
        font-weight: 400;
        text-align: center;
    }

    &__social {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: rem(10px);
    }

    &__social-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: rem(5px);

        &--subtitle {
            font-weight: 300;
            font-size: rem(16px);
            line-height: rem(17px);
            @include color(color, black);
            margin: 0;
        }
    }

    @include media("min", "md") {
        display: none;
    }
}

svg {
    fill: currentColor;
}

//header
.header {

    &--fixed {
        position: fixed;
        width: 100%;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        padding: rem(20px) 0;
        align-items: center;
    }

    &__navbar-list {
        display: flex;
        gap: rem(20px);
    }

    &__navbar {
        display: none;

        @include media("min", "md") {
            display: block;
        }
    }

    &__navbar-item {
        position: relative;
        font-size: rem(20px);

        & a::before {
            position: absolute;
            content: '';
            display: block;
            height: 2px;
            width: 0;
            @include color(background-color, pink);
            left: 50%;
            top: 25px;
            transform: translate(-50%,0) translateZ(0);
            transition: width .25s cubic-bezier(.27,.62,.43,1.01);
        }

        & a:hover {
            @include color(color, pink);
            cursor: pointer;
        }

        & a:hover::before {
            width: 100%;
        }
    }

    &__mobile-burger {
        position: relative;
        border: 0;
        z-index: 101;
        background-color: transparent;
        padding: 0 rem(5px);
        overflow: hidden;

        @include media("min", "md") {
            display: none;
        }
    }

    &__mobile-burger--active > &__burger-item:first-child {
        transform: rotate(45deg);
        transition: 0.5s;
        transform-origin: 5px 3px;
    }

    &__mobile-burger--active > &__burger-item:last-child {
        transform: rotate(-45deg);
        transition: 0.5s;
        transform-origin: 6px 1px;
    }

    &__mobile-burger--active > &__burger-item:nth-child(2) {
        position: absolute;
        top: 45%;
        opacity: 0;
        transform: translateX(50px);
    }

    &__burger-item {
        display: block;
        width: rem(20px);
        height: rem(3px);
        margin: rem(4px) auto;
        @include color(background-color, white);
        transition: 0.5s;
    }


}

.main {
    
}

.footer {
    
}


//----------BLOCKS-------------


//button blocks

//button blocks end


//----------BLOCKS END-------------